.navbar {
    height: 50px;
}

.navbar ul {
    display: inherit;    
}
.navbar li{
    list-style: none;
}

.navbar li a, .name-user{
    color: white !important;
    text-shadow: 5px 4px 5px black;    
    text-transform: capitalize;
}

.navbar li a:hover{
opacity: 0.7;    
}

.nav{
    position: absolute;
    right: 20px;
}

.btn-home{
    width: 35px;
}

.name-user{
font-weight: 100;
    font-size: 16px;
}